<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>
        
        <a th:href="@{/signups}">My Events</a>

        <h1>Sign up to the event using this form</h1>

        <form action="#" th:action="@{/form}" method="POST">
            
            <!-- FIX_FLAW : Flaw_Csrf (Note that SecurityConfiguration.java must also be modified) -->
            <!--
            <input type="hidden" 
                th:name="${_csrf.parameterName}" 
                th:value="${_csrf.token}" />
            -->            
            
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><label for="address">Address</label>: <input type="text" name="address" id="address"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        
        <p></p>
    </body>
</html>
